<?xml version="1.0" encoding="UTF-8"?>
<!-- root.xml에 ***mapper.xml을 찾아달라고 얘기해놨기때문에 이름을 이렇게 한 거야 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- mapper schema -->
    

<!-- 여기다는 풀패키지명을.. 중복되지만 않으면 됨 -->    
<mapper namespace="com.dkmk.s3.bankbook.BankBookDAO">
	<insert id="setWrite" parameterType="com.dkmk.s3.bankbook.BankBookDTO"> 
							
		insert into bankbook values(bank_seq.nextval,#{bookName},#{bookRate},#{bookSale}) 
	</insert>


</mapper> 